h3{
font-family: "Montserrat";
font-weight:bold;
font-size: 20px;
}

/* Content */
p{
  font-family: "Montserrat";
  font-weight:bold;
  font-size: 16px;
}
.maincolumn{
    float: left;
    width: 100%;
    padding: 15px;
}
.subcolumn{
    float: left;
    width: 35%;
    padding-left: 15px;
}

body {
    background-color: #f1f1f1;
    font-family: Arial;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.buttonMoreInfo {
  font-family: "Montserrat";
  font-weight:bold;
  font-size: 16px;
  padding: 14px 40px;
  background-color: #212121;
  border: none;
  color: white;
}
.buttonMoreInfo:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
